{% extends 'web/base.html' %}
{% load static %}

{% block head_block %}
    <!-- datatables -->
    <link rel="stylesheet" href="{% static 'lib/data_tables/datatables.min.css' %}">
    <script src="{% static 'lib/data_tables/datatables.min.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="justify-content-center ms-5 me-5 footer-margin">
        <div class="row pt-5 mb-3">
            <h3 class="col float-start">Predefined Teams</h3>
            <div class="col">
                <a class="btn bg-civil-blue text-white float-end" href="{% url 'web:predefined_add' %}">
                    <i class="fas fa-user-plus me-1"></i>
                    New Team
                </a>
            </div>
        </div>
        <table class="table-striped table" id="r_table" style="color: black">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Information</th>
                    <th scope="col">Members</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                {% for s in data %}
                    <tr>
                        <td>{{s.id}}</td>
                        <td>
                            <a class="text-dark" href="{% url 'web:predefined_edit' s.id %}">
                                {{s.team_name}}
                            </a>
                        </td>
                        {% if s.info %}
                            <td>{{s.info}}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}
                        <td>
                            {% for member in s.team_member.all %}
                                {{ member }}<br>
                            {% endfor %}
                        </td>
                        <td><a class="btn btn-danger text-white" href="{% url 'web:predefined_delete' s.id %}" id="delete-team">Delete Team</a></td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready (function () {

            let table = $('#r_table').DataTable ({
                dom: 'B<"clear">lfrtip',
                order: [0, 'desc'],
                lengthMenu: [[10, 25], [10, 25]],
                pageLength: 10,
            });
        });

        // delete confirmation popup and redirect to delete page
        $('#delete-team').click(function(event) {
            // Don't follow the link
            event.preventDefault();

            if (window.confirm("Are you sure you want to delete team?")) {
                location.replace(this.href);
            }
        });
    </script>
{% endblock %}


